body {
    margin: 0;
    padding: 0;
}

.box {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

input[type="number"] {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #006CaF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #dddddd;
    border-radius: 5px;
}

.edit-btn,
.delete-btn {
    padding: 5px 10px;
    margin-left: 10px;
    background-color: #006CaF;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.edit-btn:hover,
.delete-btn:hover {
    background-color: #87b250;
}